{% extends 'base.html' %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/group.css' %}"
/>{% endblock %} {% block content %}
<div class="groupAddContainer">
  <div class="groupDiv">
    <header class="groupAddHeader">
      {% if user.is_authenticated %}
      <a
        href="{% url 'my_group' %}"
        class="groupAdd-back-button"
        id="cancelButton"
        >←</a
      >
      {% else %}
      <a
        href="{% url 'rankings' %}"
        class="groupAdd-back-button"
        id="cancelButton"
        >←</a
      >
      {% endif %}
      <a class="groupAddTitle">그룹</a>
      <a href="{% url 'search_group' %}" class="groupAdd-search-button">
        <i class="fas fa-search"></i>
      </a>
    </header>
    <button class="add-button" onclick="openAddOverlay()">+</button>
    <p class="groupAddNotice">* 그룹이 생성된 날짜순으로 정렬됩니다.</p>
    {% if page_obj.object_list %}
    <div class="groupAdd-list">
      {% for group in page_obj %}
      <a href="{% url 'account_group' group.id %}" class="groupAdd-item">
        <h2>{{ group.title }}</h2>
        <p>{{ group.users.count }}명</p>
        <p>{{ group.master.username }}</p>
        {% load time_filters %}
        <p>{{ group.goals|display_time}}</p>
        <p class="private">
          {% if group.is_private %}비공개 🔒{% else %}공개{% endif %}
        </p>
      </a>
      {% endfor %}
    </div>
    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>

{% else %}
<p class="wlsakr">생성된 그룹이 없습니다. 그룹을 만들어 주세요.</p>
{% endif %}

<div class="create_group_overlay" id="addOverlay">
  <div class="create_group_overlay_content">
    <button class="add-close-button" onclick="closeAddOverlay()">
      &times;
    </button>
    <h2>그룹 만들기</h2>
    <form method="post" class="groupMakeFormLayout">
      {% csrf_token %}
      <div class="groupMakeBox">
        <label for="{{ form.title.id_for_label }}">그룹명</label>
        {{ form.title }}
      </div>
      <div class="groupMakeBox">
        <label for="{{ form.informarion.id_for_label }}">그룹소개</label>
        {{ form.information }}
      </div>
      <div class="groupMakeBox">
        <label for="{{ form.password.id_for_label }}">비밀번호</label>
        {{ form.password }}
      </div>
      <div class="groupMakeBox">
        <label for="{{ form.goals.id_for_label }}">목표시간</label>
        {{ form.goals_hours }} : {{form.goals_minutes}}
      </div>
      <div class="groupmake-action-buttons">
        {% if user.is_authenticated %}
        <button type="submit" class="create-group-button">그룹 생성</button>
        {% else %}
        <a href="{% url 'login' %}" class="create-group-url">그룹 생성</a>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% endblock %}
