{% extends 'base.html' %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/group/change_group_master.css' %}"
/>{% endblock %}{% block content %}

<div class="header">
  <div class="left">
    <a href="{% url 'group_setting' group_id=group.id %}">
      <i class="fa-solid fa-angle-left"></i
    ></a>
  </div>
  <div class="center">
    <span class="title">그룹장 변경하기</span>
  </div>
</div>
<div class="changeGroupMaster">
  <form method="post" class="groupMakeFormLayout">
    {% csrf_token %}
    <div>
      {% for user in users %}
      <div class="userListContainer">
        <input
          type="radio"
          id="user{{ user.id }}"
          name="new_master"
          value="{{ user.id }}"
        />
        <label for="user{{ user.id }}">{{ user.username }}</label>
      </div>
      {% empty %}
      <p>방장으로 변경할 유저가 없습니다.</p>
      {% endfor %}
    </div>
    <button type="submit" class="create-group-button">변경하기</button>
  </form>
</div>
{% endblock %}
