{% extends 'base.html' %} {% block content %}
<h1>방장 넘기기 - {{ group.title }}</h1>
<a href="{% url 'group_setting' group_id=group.id %}" class="btn btn-secondary"
  >Group Setting</a
>

<form method="post">
  {% csrf_token %}
  <h2>새 방장 선택</h2>
  <div>
    {% for user in users %}
    <div>
      <input
        type="radio"
        id="user{{ user.id }}"
        name="new_master"
        value="{{ user.id }}"
      />
      <label for="user{{ user.id }}">{{ user.username }}</label>
    </div>
    {% empty %}
    <p>방장으로 변경할 유저가 없습니다.</p>
    {% endfor %}
  </div>
  <button type="submit" class="btn btn-primary">Change Completed</button>
</form>

{% endblock %}
