{% extends 'base.html' %}{% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/group/kick_out_user.css' %}"
/><link
  rel="stylesheet"
  href="{% static 'css/group/change_group_master.css' %}"
/>{% endblock %} {% block content %}

<div class="header">
  <div class="left">
    <a href="{% url 'group_setting' group_id=group.id %}">
      <i class="fa-solid fa-angle-left"></i
    ></a>
  </div>
  <div class="center">
    <span class="title">강퇴하기</span>
  </div>
</div>

<div class="changeGroupMaster">
  {% for user in users %}
  <div class="kickOutBox">
    {{ user.username }}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="user_id" value="{{ user.id }}" />
      <button type="submit" class="btn btn-danger">강퇴하기</button>
    </form>
  </div>
  {% empty %} 강퇴할 사용자가 없습니다. {% endfor %}
</div>

{% endblock %}
