{% extends 'base.html' %} {% block content %}
<h1>강퇴하기 - {{ group.title }}</h1>
<a href="{% url 'group_setting' group_id=group.id %}" class="btn btn-secondary"
  >Group Setting</a
>

<div>
  <h2>강퇴할 사용자 목록</h2>
  <ul>
    {% for user in users %}
    <li>
      {{ user.username }}
      <form method="post" style="display: inline">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        <button type="submit" class="btn btn-danger">Kick Out</button>
      </form>
    </li>
    {% empty %}
    <li>강퇴할 사용자가 없습니다.</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
