{% extends 'base.html' %} {% block content %}
<h1>내가 가입한 그룹</h1>
<a href="{% url 'all_group' %}" class="btn btn-primary">Add Group</a>

{% if page_obj.object_list %}
<div class="group-list">
  {% for group in page_obj %}
  <div class="group-box">
    <h2>{{ group.title }}</h2>
    <p>인원수: {{ group.users.count }}</p>
    <p>방장: {{ group.master.username }}</p>
    {% load time_filters %}
    <p>그룹 목표 시간: {{ group.goals|display_time}}</p>
    <p>공개 여부: {% if group.is_private %}비공개{% else %}공개{% endif %}</p>
    <a href="{% url 'group_room' group.id %}" class="btn btn-secondary"
      >View Group</a
    >
  </div>
  {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% else %}
<p>가입한 그룹이 없습니다</p>
{% endif %} {% endblock %}
