.noactive_message {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  background-color: #222;
  text-decoration: none;
  color: white;
  margin-top: -10px;
  margin-bottom: -10px;
}

.active_message {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  margin-bottom: -10px;
}

.messageListt {
  margin-top: 60px;
}

.messageboxx {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.message-content {
  background-color: #333;
  flex: 1;
  padding: 10px;
  cursor: pointer; /* 메시지에 마우스 커서가 손가락 모양이 되게 함 */
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.message-text {
  color: #fff; /* 메시지 글은 흰색 */
  font-size: 12pt; /* 예시 폰트 크기 */
  margin: 0;
}

.message-meta {
  color: #959595; /* 날짜와 보낸 사람은 회색 */
  font-size: 10pt; /* 메시지 글보다 2pt 작게 설정 */
  margin: 0;
}
