.app-container {
  width: 100%;
  background-color: #333; /* App background color */
  overflow: hidden; /* Ensure content doesn't overflow */
  padding-bottom: 150px;
  height: 100%;
}

.profile-container {
  width: 100%;
  height: 100%;
  background-color: #444;
  margin-top: 43px;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.header .left {
  display: flex;
  align-items: center;
}

.header .left i {
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding-left: 10px;
}

.header .center {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  padding-right: 26px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #444;
}

.profile-pic {
  font-size: 40px;
  cursor: pointer;
}

.profile-info {
  margin-left: 20px;
  flex-grow: 1;
}

.username {
  font-size: 24px;
  font-weight: bold;
}

.status {
  font-size: 14px;
  color: #aaa;
  display: block;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #444;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stat-icon {
  font-size: 20px;
}

.notification {
  margin: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  cursor: pointer;
}

.invite-button {
  background-color: transparent;
  color: #d1aaff;
  border: none;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
}

.menu-icons {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #333;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
}

.icon-background {
  background-color: #555; /* Slightly brighter background */
  border-radius: 10px; /* Rounded corners */
  padding: 8px; /* Adjust padding to make it smaller */
  width: 50px; /* Adjust width */
  height: 50px; /* Adjust height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.menu-icon-img {
  font-size: 32px; /* Adjust font size to fit in the smaller box */
  color: white;
}

.menu-icon-label {
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
  color: white;
}

.menu-items {
  background-color: #444;
  padding: 10px 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #555;
}

.menu-item-icon {
  font-size: 20px;
  color: white;
  flex-shrink: 0;
}

.menu-item-label {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.align-center {
  align-self: center;
}

.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  background-color: #00274d;
  padding: 10px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bottom-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.bottom-menu-icon {
  font-size: 25px;
}

.bottom-menu-label {
  font-size: 14px;
}
