{% extends "base.html" %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/userProfile.css' %}"
/>{% endblock %}{% block title %} User Profile {% endblock %}

<!--자기자신을 팔로우하는 것을 방지 -->
{%block content%}

<div class="userProflie">
  <div class="userProfileHeader">
    <a href="{% url 'rankings' %}">&times;</a>
  </div>
  <div class="profile">
    <a>{{ target_user.username }}</a>
    {% load time_filters %}
    <p>{{ screen_time.total_minutes|display_time }}</p>
    
    <p>Most-used Apps</p>
    {% if target_user.top_apps %}
      <ul>
        {% for app, time in target_user.top_apps %}
          <li>{{ app }} {{ time }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Not available. Upload Screentime screenshot</p>
    {% endif %}
    
    <div class="userButtons">
      {% if target_user != request.user %}
      <form action="{% url 'follow' user_id=target_user.id %}" method="POST">
        {%csrf_token%}
        <button type="submit">
          {% if target_user in request.user.following.all %} 언팔로우 {% else %}
          팔로우 {% endif %}
        </button>
      </form>
      {% endif %}

      <form
        action="{% url 'write_message' user_id=target_user.id %}"
        method="POST"
      >
        {%csrf_token%}
        <button type="submit">쪽지 보내기</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
