body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1e;
  color: #fff;
}

.groupContainer {
  padding: 20px;
}

.groupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.groupTitle {
  flex-grow: 1;
  text-align: center;
  margin-left: 70px;
}

.add-group {
  text-decoration: none;
  color: #fff;
}

.group-list {
  margin-top: 20px;
}

.group-item {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid #6e6e6e;
  text-decoration: none;
  color: #fff;
}

.group-item:last-child {
  border-bottom: none;
}

.group-name {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.group-details {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.member-count {
  margin-right: 10px;
}

.lock-icon {
  margin-left: 5px;
  font-size: 14px;
}

.groupDetailContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.groupDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.groupName {
  flex-grow: 1;
  text-align: center;
}

.back-button {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.settings-button {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.groupDetailranking {
  margin-top: 20px;
}

.ranking-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #6e6e6e;
  text-decoration: none;
  color: #fff;
}

.ranking-item:last-child {
  border-bottom: none;
}

.rank-number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
}

.rank-name {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 16px;
}

.rank-time {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.groupAddContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.groupAddTitle {
  font-size: 17px;
  font-weight: bold;
}

.groupAddHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.groupAdd-back-button,
.groupAdd-search-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

.groupAddNotice {
  font-size: 14px;
  color: #aaa;
  text-align: center;
  margin-bottom: 20px;
}

.groupAdd-list {
  margin-bottom: 20px;
}

.groupAdd-item {
  background-color: #444;
  border: 2px solid #b2f5b2;
  padding: 15px;
  margin-bottom: 17px;
  border-radius: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.groupAdd-item h2 {
  margin: 0;
  font-size: 18px;
}

.groupAdd-item p {
  margin: 5px 0;
}

.groupAdd-item .private {
  color: #888;
}

.add-button {
  background-color: #b2f5b2;
  /* Adjust color as needed */
  color: #000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
