@import "group/create_group.css";

body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1e;
  color: #fff;
}

.groupHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #333;
  background-color: #333;
}

.groupTitle {
  flex-grow: 1;
  text-align: center;
  margin-left: 94px;
}

.add-group {
  text-decoration: none;
  color: #fff;
  padding-right: 20px;
}

.group-list {
  padding: 20px;
  margin-top: 41px;
}

.group-item {
  display: block;
  padding: 15px 10px;
  border-bottom: 1px solid #6e6e6e;
  text-decoration: none;
  color: #fff;
}

.group-item:last-child {
  border-bottom: none;
}

.group-name {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.group-details {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.member-count {
  margin-right: 10px;
}

.lock-icon {
  margin-left: 5px;
  font-size: 14px;
}

.groupDetailContainer {
  width: 100%;
  margin: 0;
  padding: 0;
}

.groupDetailHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15.5px 0;
  border-bottom: 1px solid #333;
  background-color: #333;
}

.groupName {
  flex-grow: 1;
  text-align: center;
}

.back-button {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding-left: 21px;
}

.settings-button {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  padding-right: 20px;
}

.groupDetailranking {
  padding: 20px;
  margin-top: 45px;
}

.ranking-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #6e6e6e;
  text-decoration: none;
  color: #fff;
}

.ranking-item:last-child {
  border-bottom: none;
}

.rank-number {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  color: #fff;
}

.rank-name {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 16px;
}

.rank-time {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0;
}

.groupAddContainer {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.groupAddTitle {
  font-size: 17px;
  font-weight: bold;
}

.groupAddHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19.5px 0;
  border-bottom: 1px solid #333;
  background-color: #333;
}

.groupAdd-back-button,
.groupAdd-search-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  padding: 0px 20px;
}

.groupAddNotice {
  font-size: 14px;
  color: #aaa;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 63px;
}

.groupAdd-list {
  margin-bottom: 20px;
  padding: 0px 20px;
}

.groupAdd-item {
  background-color: #444;
  border: 2px solid #b2f5b2;
  padding: 15px;
  margin-bottom: 17px;
  border-radius: 10px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.groupAdd-item h2 {
  margin: 0;
  font-size: 18px;
}

.groupAdd-item p {
  margin: 5px 0;
}

.groupAdd-item .private {
  color: #888;
}

.add-button {
  background-color: #b2f5b2;
  /* Adjust color as needed */
  color: #000;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  position: fixed;
  bottom: 75px;
  right: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pagination {
  padding-left: 30px;
  margin-bottom: 150px;
}

.create_group_overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.create_group_overlay_content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  width: 90%;
  max-width: 350px;
  border: 1px solid #555;
  position: relative;
  margin: 0px 20px;
}

.add-close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.groupMakeFormLayout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.groupMakeBox {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.groupMakeBox label {
  width: 70px;
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
  text-align: right;
}

.groupMakeBox input[type="text"],
.groupMakeBox input[type="number"],
.groupMakeBox input[type="password"],
.groupMakeBox textarea,
.groupMakeBox select {
  flex: 1;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  width: 100%;
}

.groupMakeBox textarea {
  resize: vertical;
  height: 80px;
}

.create-group-button {
  background-color: #b2f5b2;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  width: 100%;
  text-decoration: none;
}

.create-group-button:hover {
  background-color: #fd7f4a;
}

.create-group-url {
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.goals_hours-input {
  margin-right: 10px;
}

.goals_minutes-input {
  margin-left: 10px;
}

.groupSearchList {
  margin-top: 63px;
}
.wlsakrr {
  margin-top: 70px;
  margin-left: 20px;
}

.wlsakr {
  margin-left: 20px;
}
