.timeBar {
  background-color: transparent;
  padding: 20px;
  margin-top: 5px;
}

.timeBarList {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.timeBarList li {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.timeBarList a {
  color: rgb(70, 70, 70);
  text-decoration: none;
  padding: 0 15px;
}

.timerSection {
  margin-top: 43px;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1.2px solid rgb(180, 180, 180);
  padding: 10px 0px;
}

.timerSection i {
  margin-left: 20px;
  font-size: 30px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.editIcon {
  position: absolute;
  right: 100px;
  font-size: 25px;
}

.homeFilter {
  display: flex;
  justify-content: center;
}

.filter-btn {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(180, 180, 180); /* Border added */
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.filter-btn.active {
  color: rgb(180, 180, 180);
}

#content {
  padding: 0px;
  margin-bottom: 150px;
}

.usageList {
  padding: 0px;
}

.ranking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
  text-decoration: none;
  color: rgb(70, 70, 70);
  border-bottom: none;
}

.rank-number {
  padding: 10px 10px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  color: rgb(70, 70, 70);
}

.rank-name {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}

.rank-time {
  padding: 10px 15px 10px 10px;
  font-size: 16px;
}

/* 오버레이 및 팝업 화면 스타일링 */
.overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: rgb(70, 70, 70);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #000;
  width: 60%;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  color: rgb(70, 70, 70);
}

.overlay-content button {
  padding: 10px 20px;
  border: none;
  background-color: #c6ffc5;
  width: 100%;
  max-width: 245px;
  color: #000000;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0px;
}

.overlay-content a {
  padding: 10px 0px;
  border: none;
  background-color: #c6ffc5;
  width: 100%;
  max-width: 245px;
  color: #000000;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
}

.follwertotal {
  padding: 5px 0px 0px 10px;
  color: rgb(70, 70, 70);
}

.my_screen_time {
  margin: 0px;
  width: 100%;
  max-width: 245px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-time-input-left {
  text-align: center;
  font-size: 30px;
  width: 40px; /* 너비를 100%로 설정 */
  height: 40px;
  padding: 0px; /* 패딩 추가 */
  border: 0px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 둥근 모서리 설정 */
  box-sizing: border-box;
  flex: 1;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin-right: 10px;
}

.screen-time-input-right {
  text-align: center;
  font-size: 30px;
  width: 40px; /* 너비를 100%로 설정 */
  height: 40px;
  padding: 0px; /* 패딩 추가 */
  border: 0px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 둥근 모서리 설정 */
  box-sizing: border-box;
  flex: 1;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  margin-left: 10px;
}

.please {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 0;
}
