@import "home.css";

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Background color */
  color: rgb(255, 255, 255); /* Text color */
  display: flex;
  justify-content: center; /* Center the items horizontally */
  padding: 10px 0; /* Padding for top and bottom */
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  z-index: 1000; /* Ensure it stays above other content */
  height: 30px;
  border-top: 1.2px solid rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgb(70, 70, 70);
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ffffff;
}

.content {
  margin-top: 43px;
  margin-bottom: 150px;
  padding: 0px;
}

#logo {
  height: 30px;
  padding: 6px 0px 6px 15px;
}

.screen-header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  color: black;
  z-index: 2;
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.2);
  left: 0px;
  padding: 0px 10px 0px 0px;
}

.screen-time-input {
  text-align: center;
  font-size: 30px;
  width: 40px; /* 너비를 100%로 설정 */
  height: 40px;
  padding: 0px; /* 패딩 추가 */
  border: 0px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 둥근 모서리 설정 */
  box-sizing: border-box;
}

.my_screen_time {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}
