img {
  width: 100%;
  border-radius: 20px;
}

.upload_section {
  background-color: #444;
  padding: 20px;
  border-radius: 20px;
  width: calc(100% - 40px);
  margin: 0 20px;
  box-sizing: border-box;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_section2 {
  background-color: #444;
  padding: 20px;
  border-radius: 20px;
  width: calc(100% - 40px);
  margin: 0 20px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 150px;
}

.upload_section2 p {
  margin-top: 0;
}

.upload_buttons {
  background-color: #444;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hahaha {
  border: 1px solid #aaa;
  margin-top: 20px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: top;
  padding: 1px;
}
