<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block extra_css %}{% endblock %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/42d0b8e22b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="{% url 'rankings' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'my_group' %}">Group</a></li>
        {% else %}
        <li><a href="{% url 'all_group' %}">Group</a></li>
        {% endif %}
        <li><a href="{% url 'received_list' %}">Message</a></li>
        <li><a href="{% url 'myinfo' %}">My Info</a></li>
      </ul>
    </nav>
    <div class="content">{% block content %} {% endblock %}</div>

    <script src="{% static 'js/modal.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
