{% extends 'base.html' %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/login.css' %}"
/>{% endblock %} {% block title %}Login{% endblock %} {%block content%}

<div class="loginContainer">
  <h2>maniaX</h2>
  <h1>
    소셜 미디어 사용 시간 줄이기,<br />
    친구들과 공유하며 함께 시작해보세요!
  </h1>
  <form class="formLayout" method="post">
    {% csrf_token %}
    <div>
      <input placeholder="아이디" type="text" id="username" name="username" />
    </div>
    <div>
      <input
        placeholder="비밀번호"
        type="password"
        id="password"
        name="password"
      />
    </div>
    <button type="submit" class="loginBtn">로그인</button>
    <div class="forgot">
      <a href="#">아이디/비밀번호를 잊으셨나요?</a>
    </div>
    <hr class="divider" />
    <a href="{% url 'signup' %}" class="signupBtn">회원가입</a>
  </form>
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}
</div>
{%endblock%}
