{% extends 'base.html' %} {% block title %}My Info{%endblock%} {%block content%}
{% load static %}
<header class="screen-header">
  <img id="logo" src="{% static 'images/maniax.png' %}" />
</header>
<div class="app-container">
  <div class="profile-container">
    <div class="profile">
      <i class="fa-solid fa-dragon profile-pic" onclick="goToAlertPage()"></i>
      <div class="profile-info">
        <span class="username">{{ user.username }}</span>
        <span class="status">상태메시지가 없습니다</span>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <i class="fa-regular fa-user stat-icon"></i>
        <span class="stat-value">135</span>
      </div>
      <div class="stat">
        <i class="fa-regular fa-clock stat-icon"></i>
        <span class="stat-value">6h 13m</span>
      </div>
    </div>
    <div class="menu-icons">
      <div class="menu-icon">
        <a href="{% url 'myinfo_alert' %}" class="icon-background">
          <i
            class="fa-regular fa-bell menu-icon-img"
            onclick="goToAlertPage()"
          ></i>
        </a>
        <span class="menu-icon-label">알림</span>
      </div>
      <a href="{% url 'myinfo_notice' %}" class="menu-icon">
        <div class="icon-background">
          <i
            class="fa-solid fa-bullhorn menu-icon-img"
            onclick="goToNoticePage()"
          ></i>
        </div>
        <span class="menu-icon-label">공지사항</span>
      </a>
      <a href="{% url 'myinfo_customerSupport' %}" class="menu-icon">
        <div class="icon-background">
          <i
            class="fa-regular fa-envelope menu-icon-img"
            onclick="goToCustomerSupportPage()"
          ></i>
        </div>
        <span class="menu-icon-label">고객지원</span>
      </a>
    </div>
    <div class="menu-items">
      <a
        href="{% url 'myinfo_setting' %}"
        class="menu-item"
        onclick="goToSettingsPage()"
      >
        <i class="fa-solid fa-gear menu-item-icon"></i>
        <span class="menu-item-label">설정</span>
      </a>
      <a
        href="{% url 'myinfo_calender' %}"
        class="menu-item"
        onclick="goToCalendarPage()"
      >
        <i class="fa-regular fa-calendar-days menu-item-icon"></i>
        <span class="menu-item-label">캘린더</span>
      </a>
      <a
        href="{% url 'myinfo_account' %}"
        class="menu-item"
        onclick="goToAccountPage()"
      >
        <i class="fa-solid fa-circle-user menu-item-icon"></i>
        <span class="menu-item-label">계정</span>
      </a>
      <a
        href="{% url 'myinfo_help' %}"
        class="menu-item"
        onclick="goToHelpPage()"
      >
        <i class="fa-regular fa-question-circle menu-item-icon"></i>
        <span class="menu-item-label">도움말</span>
      </a>
      <a
        href="{% url 'myinfo_appinfo' %}"
        class="menu-item"
        onclick="goToAppInfoPage()"
      >
        <i class="fa-solid fa-info menu-item-icon"></i>
        <span class="menu-item-label">앱 정보</span>
      </a>
      <a href="{% url 'logout' %}" class="menu-item">
        <i class="fa-solid fa-info menu-item-icon"></i>
        <span class="menu-item-label">로그아웃</span>
      </a>
    </div>
  </div>
</div>
{%endblock%}
