{% extends 'base.html' %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/userSearch.css' %}"
/>
<script>
  function resetInput() {
    document.getElementById("myInput").value = "";
  }
</script>
{% endblock %}{% block content %}

<div class="userSearchHeader">
  <a href="{% url 'rankings' %}"> <i class="fa-solid fa-angle-left"></i></a>
  <form method="get">
    <input
      type="text"
      name="q"
      value="{{ query }}"
      placeholder="사용자명으로 검색"
      id="myInput"
    />
  </form>
  <button type="button" onclick="resetInput()">취소</button>
</div>

<div class="usersearchfine">
  {% if query %} {% if page_obj.object_list %}
  <!---->
  {% for user in page_obj.object_list %}
  <div class="userSearchContent">
    <a href="{% url 'user_profile' user_id=user.id %}" class="ranking-item">
      <div class="rank-name">{{ user.username }}</div>
      {% load time_filters %}
      <div class="rank-time">
        {{ user.screen_time.total_minutes|display_time }}
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination">
  <span>페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
  <div>
    {% if page_obj.has_previous %}
    <a href="?q={{ query }}&page=1">&laquo; 첫 페이지</a>
    <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}">이전</a>
    {% endif %} {% if page_obj.has_next %}
    <a href="?q={{ query }}&page={{ page_obj.next_page_number }}">다음</a>
    <a href="?q={{ query }}&page={{ page_obj.paginator.num_pages }}"
      >마지막 페이지 &raquo;</a
    >
    {% endif %}
  </div>
</div>
{% else %}
<p>검색된 사용자가 없습니다.</p>
{% endif %} {% else %}
<p>검색어를 입력해주세요.</p>
{% endif %} {% endblock %}
