{% extends 'base.html' %} {% load static %} {% block extra_css %}<link
  rel="stylesheet"
  href="{% static 'css/register.css' %}"
/>{% endblock %} {% block title %}Sign Up{%endblock%} {%block content%}

<div class="registerContainer">
  <h2>maniaX</h2>
  <h1>
    소셜 미디어 사용 시간 줄이기,<br />
    친구들과 공유하며 함께 시작해보세요!
  </h1>
  <form method="post" class="registerFormLayout">
    {% csrf_token %} {{ form.username }} {{ form.email }} {{ form.password1 }}
    {{ form.password2 }}

    <button type="submit" class="registerBtn">가입하기</button>
    <a href="{% url 'rankings' %}" class="registerCancelBtn">취소</a>
  </form>
</div>
{% if errors %}
<ul>
  {% for field, error in errors.items %}
  <li>{{ field }}: {{ error }}</li>
  {% endfor %}
</ul>

{% endif %} {%endblock%}
